#display{
    display: flex;
    justify-content: center;
}

#calculator{
    width: 280px;
    background-color: lightblue;
    width: 280px;
    border-radius: 20px;
    padding: 10px;
}

#display{
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

#display-box{
    border: 1.5px solid darkblue;
    height: 60px;
    width: 280px;
    background-color: lightslategray;
    border-radius: 10px;
}

#number-pad{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
    border-style: none;
    font-size: 25px;
    font-weight: bold;
    background-color: gainsboro;
}

.operator{
    background-color: lightskyblue;
}

.other{
    background-color: grey;
}

#zero{
    width: 130px;
}

