#display{
    display: flex;
    justify-content: center;
    background-color: black;
    height: 100vh;
    width: 100vw;
    padding: 100px;
    margin: -40px;
}

#current-value{
    font-size: 40px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

#calculator{
    width: 280px;
    background-color: lightblue;
    height: 440px;
    border-radius: 20px;
    padding: 10px;
}

#display-container{
    padding-top: 10px;
    padding-bottom: 20px;
}

#display-box{
    border: 1.5px solid darkblue;
    width: 220px;
    height: 0px;
    background-color: lightslategray;
    border-radius: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 30px;
}

#number-pad{
    display: flex;
    flex-direction: column;
}

.buttons{
    display: flex;
}

button{
    width: 60px;
    height: 60px;
    border-radius: 50px;
    margin: 5px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    background-color: gainsboro;
    border-style: none;
}

button:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
  }

  button:active {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    transform: translateY(2px);
  }

.operator{
    background-color: lightskyblue;
}

.other{
    background-color: grey;
}

#zero{
    width: 130px;
}